<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>940617229647-94a6p5iefjat9re0e9paebfopbp9qv1b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.940617229647-94a6p5iefjat9re0e9paebfopbp9qv1b</string>
	<key>API_KEY</key>
	<string>AIzaSyAzv8kfkgnoU8Y2vA3E83TiByY-fOCTHvw</string>
	<key>GCM_SENDER_ID</key>
	<string>940617229647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example..-DrawApp</string>
	<key>PROJECT_ID</key>
	<string>white-board-b9907</string>
	<key>STORAGE_BUCKET</key>
	<string>white-board-b9907.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:940617229647:ios:0e84c1198bd9454b</string>
	<key>DATABASE_URL</key>
	<string>https://white-board-b9907.firebaseio.com</string>
</dict>
</plist>
